node_modules
dist
.DS_Store
dist-ssr
.npmrc
.cache

# tests files
tests/server/static
tests/server/static/upload

# local
*.local
.env.local
.env.*.local
.eslintcache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
