{% extends "ledger/base.html" %}
{% block header %}
    <!DOCTYPE html>
    <html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>所有账单</title>
    </head>
{% endblock header %}
{% block content %}
    <body>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
            切换账本
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">默认账本</a></li>
            <li><a class="dropdown-item" href="#">新建账本</a></li>

        </ul>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">类型</th>
            <th scope="col">时间</th>
            <th scope="col">分类</th>
            <th scope="col">金额</th>
        </tr>
        </thead>
    </table>
    <div>
        <span class="border border-5">总支出：</span><br><br>
        <span class="border border-5">总收入：</span>
    </div>
    </body>
{% endblock content %}
</html>