{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Z&Z记账本</title>
    <!--引入bootstrap-->
    <link rel="stylesheet" href="../../static/bootstrap/bootstrap-5.0.0/css/bootstrap.css">
    <script src="../../static/bootstrap/jQuery/jquery-3.6.0.js"></script>
    <script src="../../static/bootstrap/bootstrap-5.0.0/js/bootstrap.bundle.js"></script>
    <style>
        .a_btn {
            text-decoration: none;
            color: #333;
            font-weight: bolder;
        }
    </style>

    <script>
        $(function () {
            //防止页面后退
            history.pushState(null, null, document.URL);
            window.addEventListener('popstate', function () {
                history.pushState(null, null, document.URL);
            });
        })
    </script>

    <script type="text/javascript">
        $(function () {
            $(".dropdown-item").mouseover(function () {
                $(this).children("select").show();
            })
            $(".dropdown-item").mouseout(function () {
                $(this).children("select").hide();
            })
        })
    </script>

    <script type="text/javascript">
        function showsubMenu(li) {
            var submenu = li.getElementsByTagName("ul")[0];
            submenu.style.display = "block";
        }

        function hidesubMenu(li) {
            var submenu = li.getElementsByTagName("ul")[0];
            submenu.style.display = "none";
        }
    </script>

    <!-- 日历部分-->
    <script src="../../static/laydate/laydate.js"></script>
    <script>
        lay('#version').html('-v' + laydate.v);
        laydate.render({
            elem: '#test1'
        });
    </script>

</head>

<body>
<! -- 静态导航栏 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" >Z&Z记账本</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "ledger:index" %}">主页</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">月份</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" onclick="function_filter(1)">一月</a></li>
                        <li><a class=" dropdown-item" onclick="function_filter(2)">二月</a></li>
                        <li><a class="dropdown-item" onclick="function_filter(3)">三月</a></li>
                        <li><a class="dropdown-item" onclick="function_filter(4)">四月</a></li>
                        <li><a class="dropdown-item" onclick="function_filter(5)">五月</a></li>
                        <li><a class="dropdown-item" onclick="function_filter(6)">六月</a></li>
                        <li><a class="dropdown-item" onclick="function_filter(7)">七月</a></li>
                        <li><a class="dropdown-item" onclick="function_filter(8)">八月</a></li>
                        <li><a class="dropdown-item" onclick="function_filter(9)">九月</a></li>
                        <li><a class="dropdown-item" onclick="function_filter(10)">十月</a></li>
                        <li><a class="dropdown-item" onclick="function_filter(11)">十一月</a></li>
                        <li><a class="dropdown-item" onclick="function_filter(12)">十二月</a></li>
                    </ul>
                </li>

                <input type="text" class="demo-input" placeholder="请选择日期..." id="test1">

                <li class="nav-item">
                    <a class="nav-link" href="{% url "ledger:help" %}">帮助</a>
                </li>
            </ul>
        {% endif %}

        <form class="d-flex">
            {% if user.is_authenticated %}
                你好,{{ user.username }}，
                <a href="{% url 'users:logout' %}" style="font-style: normal">注销</a>
            {% else %}
                <button type="button" class="btn btn-light"><a href="{% url "users:login" %}"
                                                               class="a_btn">登录</a>
                </button>
                </a>
                &nbsp;
                <button type="button" class="btn btn-light"><a href="{% url "users:register" %}"
                                                               class="a_btn">注册</a>
                </button>
            {% endif %}
        </form>
        </div>
    </div>
</nav>

<div class="container">
    <div class="page-header">
        {% block header %}{% endblock header %}
    </div>
    <div>
        {% block content %}{% endblock content %}
    </div>
</div>
<! --/.container -->
</body>
</html>
