{% extends "ledger/base.html" %}
{% block header %}
    <!DOCTYPE html>
    <html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>FAQ</title>
    </head>
{% endblock header %}
{% block content %}
    <body>
    <div class="p-3 mb-2 text-white bg-dark">Q1：为什么“默认账本”不能删除？<br>
        A1：由于“默认账本”属于默认生成的，为了避免误删。系统只允许修改，而不能删除的哦！
    </div>
    <div class="p-3 mb-2 text-white bg-dark">Q2：我建立了几个新账本。能不能重新排序？<br>
        A2：不可以的，目前以建立先后时间排序的呢。
    </div>
    <div class="p-3 mb-2 text-white bg-dark">Q3：我常常会忘记记账。有什么办法更方便的登录你们的网站？<br>
        A3：首页这里有一个“创建桌面快捷方式”，您只要点击后根据提示操作就可以了。
    </div>
    <div class="p-3 mb-2 text-white bg-dark">Q4：朋友向我借了一笔钱，他还钱时我要怎么记收款？<br>
        A4：首先您已经在“借入/借出”这里记入了一笔借出款。记收款时在账目清单选中这笔账，旁边会出现“结清”按钮，这时您只要点击并填入金额就可以。
    </div>

    </body>
{% endblock content %}
</html>