{% extends "ledger/base.html" %}
{% block header %}
    <!DOCTYPE html>
    <html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>index</title>
        <style>

        </style>
    </head>
{% endblock header %}
{% block content %}
    <body>
    <div><br><br>
        <figure class="text-center">
            <blockquote class="blockquote">
                <p>别想一下造出大海，必须先由小河川开始。</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Z&Z<cite title="Source Title">记账</cite>
            </figcaption>
        </figure>
    </div>
    <span class="border border-4">2021年3月</span>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">金额</th>
            <th scope="col">时间</th>
            <th scope="col">分类</th>
            <th scope="col">备注</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>15</td>
            <td>2021.03.28</td>
            <td>餐饮</td>
            <td>早餐</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>45</td>
            <td>2021.03.29</td>
            <td>购物</td>
            <td>生活用品</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>30</td>
            <td>2021.03.30</td>
            <td>医疗</td>
            <td>买感冒药</td>
        </tr>
        </tbody>
    </table>


    <div class="alert alert-primary" role="alert">
        本月总支出：
    </div>
    <div class="alert alert-success" role="alert">
        本月总收入：
    </div>
    <button type="button" class="btn btn-outline-success" onclick="window.location='{% url "ledger:record" %}'">记一笔
    </button>
    </body>
    </html>
{% endblock content %}